.Safespace 
Env
Results_old
.Workspace/data/TUC-A
.Workspace/data/TUC-B
.Workspace/data/TUC-C
.Workspace/data/coco
.Workspace/data/ICARUS
.Workspace/data/.misc
.Workspace/path_test.py
.Workspace/test.py
.Workspace/yolo11n.pt
.Workspace/yolo11m_pose
.Workspace/P1_catforg-eval/runs/lr*
.Workspace/P1-1_predictions/pred_img
.Workspace/P2_e4train/runs
.Workspace/P2-1_predictions/pred_img
.Workspace/P2-1_predictions/predict/5e*
.Workspace/P3_coco-mix/runs/pc75coco
.Workspace/P3_coco-mix/predict/5e
.Workspace/P3_coco-mix/predict/10e_corrupt
.Workspace/P3_coco-mix_ohneC/runs/ep100
.Workspace/P5_t100
.Workspace/P6_t82/runs
.Workspace/P6_t82/val
.Workspace/P7_t66
.Workspace/P8_t50